<fieldset>
  <legend>New Little</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="littles-title">Title</label><br>
    <input class="form-control" id="title" type="text" name="title" value="{{littles.title}}"/>
  </div>
</fieldset>
