  <div class="form-group" name="type" id="type">
    <label for="littles-type">:/
        <input class="form-control" type="radio" name="type" value="false"/>
    </label>

    <label for="littles-type2">:)
        <input class="form-control" type="radio" name="type" value="true"/>
    </label>
  </div>

  <div class="form-group">
    <label for="littles-title">Title</label><br>
    <input class="form-control" id="title" type="text" name="title" value="{{littles.title}}"/>
  </div>

  <div class="form-group">
    <label for="littles-desc">Description</label><br>
    <textarea class="form-control" id="desc" type="text" name="desc" rows=4/>{{littles.desc}}</textarea>
  </div>
