<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Littles</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
</head>

<body id="login-background">

    <form action="/login" method="post" class="login-form">

        <h1 id="login-littles-logo">Littles</h1>
        <p id="login-text">Log In</p>

        <div id="login-form-fields-flex">
            <div id="login-form-username-field">
                <label for="user-username">username</label>
                <input type="text" name="username" class="form-control" id="user-username" placeholder="username">
            </div>

            <div id="login-form-password-field">
                <label for="user-password">password</label>
                <input type="password" name="password" class="form-control" id="user-password" placeholder="password">
            </div>

            <div id="login-form-submit-button">
                <button type="submit">log in</button>
                <a href="users/new"><p id="login-form-sign-up-text">Need an account?</p></a>
            </div>
        </div>
    </form>

</body>

</html>
