<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Littles</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
    <div id="navbar">
        {{# if currentUserId}}
            <h1 id="navbar-logo"><a href="/">Littles</h1></a>
            <a href="/littles/new" id="plus-icon-link"><img id="plus-icon" src="/img/plus.png" /></a>
            <div id="profile-icon-dropdown">
                <img id="profile-icon" src="/img/profile.png" />
            <div id="profile-icon-dropdown-content">
                <a href="/logout">Log Out</a>
            </div>
        </div>


        {{else}}
            <a class="nav-link" href="/login">log in</a>
        {{/if}}
    </div>

    {{{body}}}
<footer></footer>
</body>

</html>
