<div id="littles-show" class="little-card little-card-{{littles.type}}">
    <h2 class="little-card-title">{{littles.title}}</h2>
    <p class="little-card-desc">{{littles.desc}}</p>
    <p class="littles-card-edit-button"><a href="/littles/{{littles._id}}/edit">Edit</a>
</div>
