<div id="littles-edit-form">
    <form method="POST" action="/littles/{{littles._id}}?_method=PUT" id="littles-form">
        {{> littles-form}}
        <div class="form-group">
            <button type="submit">Save Little</button>
        </div>
    </form>
    <form method="POST" action="/littles/{{littles._id}}?_method=DELETE" id="littles-edit-form-delete-button">
        <button type="submit">Delete</button>
    </form>
</div>
