<div>
    <form method="POST" action="/littles">
      {{> littles-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button type="submit">Save Little</button>
      </div>
    </form>
  </div>
</div>
