<form method="POST" action="/littles" id="littles-form">
    {{> littles-form}}
    <div class="form-group">
        <button type="submit" id="save-little">Save Little</button>
    </div>
</form>
</div>
<script src="/js/main.js"></script>
