body {
    height: 100vh;
    width: 100vw;

    font-size: 16px;

    background-color: #ebeff2;
}

#navbar {
    width: 100vw;
    height: 7vh;

    margin-top: -8px;
    margin-left: -8px;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    background-color: white;
}

#navbar-logo {
    align-self: baseline;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 25px;

    font-size: 1.75em;
    font-weight: 400;
}

#profile-icon-dropdown {
    height: 35px;
    width: 35px;

    margin-right: 25px;
    margin-top: 7px;

    border: 2px solid black;
    border-radius: 30px;
}

#profile-icon-dropdown-box {
    position: relative;
    display: inline-block;
}

#profile-icon-dropdown-content {
  display: none;
  position: absolute;

  width: 70px;
  min-height: auto;

  padding: 10px;
  margin-top: 8px;
  margin-left: -40px;

  z-index: 1;

  border: 1px solid #ebeff2;
  background-color: #fff;
}

#profile-icon-dropdown-content a, #profile-icon-dropdown-content a:hover {
    color: black;
    text-decoration: none;
    padding-left: 6px;

    font-size: 1em;
}

#profile-icon-dropdown:hover #profile-icon-dropdown-content {
    display: block;
}

#profile-icon-dropdown img {
    height: 20px;
    width: 20px;

    margin-left: 7px;
    margin-top: 5px;
}

#plus-icon-link img {
    height: 20px;
    width: 20px;

    margin-right: 20px;
    margin-top: 18px;
}

#login-background {
    height: 100vh;
    width: 100vw;

    padding: 0;

    background: rgba(56,57,122,1);
    background: -moz-linear-gradient(45deg, rgba(56,57,122,1) 0%, rgba(219,92,147,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(56,57,122,1)), color-stop(100%, rgba(219,92,147,1)));
    background: -webkit-linear-gradient(45deg, rgba(56,57,122,1) 0%, rgba(219,92,147,1) 100%);
    background: -o-linear-gradient(45deg, rgba(56,57,122,1) 0%, rgba(219,92,147,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(56,57,122,1) 0%, rgba(219,92,147,1) 100%);
    background: linear-gradient(45deg, rgba(56,57,122,1) 0%, rgba(219,92,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38397a', endColorstr='#db5c93', GradientType=1 );

}

.login-form {
    width: 60vh;
    height: 28vw;

    position: absolute;

    left: 33.5vw;
    top: 22%;

    border-color: grey;
    border-width: 2px;

    -webkit-box-shadow: 4px 4px 5px 0px rgba(48,48,48,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(48,48,48,1);
    box-shadow: 4px 4px 5px 0px rgba(48,48,48,1);

    background-color: white;
}

#login-littles-logo {
    text-align: center;

    font-size: 3em;
    font-weight: 300;
}

#login-text {
    margin-top: -20px;

    text-align: center;

    font-size: 1.5em;
    font-weight: 400;

    color: #404040;
}

#login-form-fields-flex {
    height: 60%;

    margin-top: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    /* flex testing border */
    /* border: 1px solid black; */
}

#login-form-fields-flex label {
    display: block;

    padding-bottom: 5px;

    font-size: 1em;
    color: grey;
}

#login-form-fields-flex input {
    width: 20vw;
    height: 3.5vh;

    font-size: 1.25em;
}

#login-form-fields-flex input:active, #login-form-fields-flex input:focus   {
    outline-color: rgba(219,92,147,1);
}

#login-form-fields-flex #login-form-submit-button {
    display: inline-block;
    align-self: flex-end;
    margin-right: 113px;
}

#login-form-fields-flex #login-form-submit-button button {
    width: 5vw;
    height: 4vh;

    margin-left: 45px;

    background-color: white;
    border: 1px solid grey;
}

#login-form-fields-flex #login-form-submit-button button:focus, #login-form-fields-flex #login-form-submit-button button:hover {
    background-color: rgba(219,92,147,1);
    border: none;

    color: white;
}

#login-form-fields-flex #login-form-submit-button p, #login-form-fields-flex #login-form-submit-button p:hover {
    font-size: .7em;
    color: grey;
    text-align: right;
}

#statistics-row-container {
    width: 90vw;

    margin-left: 5vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.statistics-container {
    height: 35vh;
    width: 25vw;

    margin-top: 5vh;

    border-radius: 5px;

    background-color: white;
    box-shadow: 2px 2px 5px #eff2f7;
}

.statistics-container:first-of-type {

}

.statistics-container {
}

.statistics-container {
}
