<div>
  <form action="/users" method="post">
    <legend>New User</legend>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Username</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Username">
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
